body {
  margin: 0;
  background: #ffffff;
  color: #444444;
  -webkit-text-size-adjust: none;
}

@font-face {
  font-family: 'GillSans-Regular';
  src: url("fonts/GillSans_gdi.eot");
  src: url("fonts/GillSans_gdi.eot?#iefix") format("embedded-opentype"), url("fonts/GillSans_gdi.woff") format("woff"), url("fonts/GillSans_gdi.ttf") format("truetype"), url("fonts/GillSans_gdi.svg#GillSans-Regular") format("svg");
  font-weight: 5;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2666;
}

.display-none {
  display: none;
}

.heading,
.body,
.hero,
.footer {
  width: 1100px;
  margin: 0 auto;
  position: relative;
}

.strip {
  background-color: #f2f2f2;
}

.heading {
  height: 127px;
  background: url("../images/bg-heading.png") 0 0 no-repeat;
  position: relative;
}
.heading h1 {
  position: absolute;
  margin: 0;
  padding: 0;
  top: 30px;
  left: 30px;
}
.heading .logo a {
  display: block;
  text-indent: -9000px;
  width: 190px;
  height: 72px;
  background: url("../images/logo-convsite.png") 0 0 no-repeat;
}
.heading .login-form {
  position: absolute;
  content: "";
  clear: both;
  display: block;
  top: 0;
  right: 30px;
}
.heading .login-link {
  float: left;
  padding-top: 18px;
  font-size: 0.9em;
  color: #999999;
  font-weight: bold;
  text-decoration: none;
}
.heading .login-link:hover {
  color: #666666;
}
.heading .social-navigation {
  float: left;
  margin: 0 0 0 10px;
  padding: 10px 0 0 10px;
  list-style: none;
  border-left: 1px solid #00cc66;
}
.heading .social-navigation li {
  float: left;
  padding-right: 5px;
}
.heading .social-navigation a {
  color: #00cc66;
  font-size: 2.0em;
  line-height: 100%;
}
.heading .top-navigation {
  margin: 0;
  padding: 0;
  list-style: none;
  float: left;
  font-family: "GillSans-Regular";
  font-size: 2.4em;
  position: absolute;
  top: 65px;
  right: 30px;
}
.heading .top-navigation li {
  float: left;
  padding-left: 50px;
}
.heading .top-navigation li a {
  text-decoration: none;
  color: #000000;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
}
.heading .top-navigation li a:hover {
  color: #666666;
}

.hero .green-bar {
  background: url("../images/bg-green-bar.png") top right no-repeat;
  width: 100%;
  height: 34px;
}
.hero .green-bar p {
  padding: 0 30px;
  margin: 0;
  text-align: right;
  color: #ffffff;
  font-style: italic;
  line-height: 34px;
  font-family: "GillSans-Regular";
  font-size: 1.2em;
}
.hero .featured-navigation {
  margin: 0;
  padding: 0;
  list-style: none;
  float: left;
  position: absolute;
  top: 60px;
  right: 30px;
}
.hero .featured-navigation li {
  float: left;
  padding-left: 15px;
}
.hero .featured-navigation a {
  display: block;
  border: 1px solid #ffffff;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
}
.hero .featured-navigation .active {
  border: 1px solid #999999;
}
