body {
  margin: 0;
  background: #ffffff;
  color: #444444;
  -webkit-text-size-adjust: none;
}

@font-face {
  font-family: 'GillSans-Regular';
  src: url("fonts/GillSans_gdi.eot");
  src: url("fonts/GillSans_gdi.eot?#iefix") format("embedded-opentype"), url("fonts/GillSans_gdi.woff") format("woff"), url("fonts/GillSans_gdi.ttf") format("truetype"), url("fonts/GillSans_gdi.svg#GillSans-Regular") format("svg");
  font-weight: 5;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2666;
}

@font-face {
  font-family: 'GillSans-Light';
  src: url("fonts/GillSans-Light_gdi.eot");
  src: url("fonts/GillSans-Light_gdi.eot?#iefix") format("embedded-opentype"), url("fonts/GillSans-Light_gdi.woff") format("woff"), url("fonts/GillSans-Light_gdi.ttf") format("truetype"), url("fonts/GillSans-Light_gdi.svg#GillSans-Light") format("svg");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-25CA;
}

.display-none {
  display: none;
}

.cleft {
  clear: left;
  display: block;
}

.cright {
  clear: right;
  display: block;
}

.cboth {
  clear: both;
  display: block;
}

a {
  color: #00cc66;
  text-decoration: none;
}
a:hover {
  color: #00cc66;
  text-decoration: underline;
}

.heading,
.body,
.hero,
.footer {
  width: 1100px;
  margin: 0 auto;
  position: relative;
}

.strip {
  background-color: #f2f2f2;
  overflow: hidden;
}

.foot {
  background-color: #373838;
  padding: 0 30px 30px 30px;
  -moz-box-shadow: inset 0 8px 8px -8px black;
  -webkit-box-shadow: inset 0 8px 8px -8px black;
  box-shadow: inset 0 8px 8px -8px black;
}

.google-map {
  position: relative;
  overflow: hidden;
}
.google-map #map {
  position: absolute;
  left: 50%;
  top: 0;
  -webkit-transform: translateX(-50%);
}

.heading {
  height: 127px;
  background: url("../images/bg-heading.png") 0 0 no-repeat;
  position: relative;
}
.heading h1 {
  position: absolute;
  margin: 0;
  padding: 0;
  bottom: 24px;
  left: 30px;
}
.heading .logo a {
  display: block;
  text-indent: -9000px;
  width: 190px;
  height: 72px;
  background: url("../images/logo-convsite.png") 0 0 no-repeat;
}
.heading .login-form {
  position: absolute;
  content: "";
  clear: both;
  display: block;
  top: 0;
  right: 24px;
}
.heading .login-link {
  float: left;
  padding-top: 18px;
  font-size: 0.9em;
  color: #999999;
  font-weight: bold;
  text-decoration: none;
}
.heading .login-link:hover {
  color: #666666;
}
.heading .social-navigation {
  float: left;
  margin: 0 0 0 10px;
  padding: 10px 0 0 10px;
  list-style: none;
  border-left: 1px solid #00cc66;
}
.heading .social-navigation li {
  float: left;
  padding-right: 5px;
}
.heading .social-navigation a {
  color: #00cc66;
  font-size: 2.0em;
  line-height: 100%;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.heading .social-navigation a:hover {
  color: #00a351;
}
.heading .top-navigation {
  margin: 0;
  padding: 0;
  list-style: none;
  float: left;
  font-family: "GillSans-Regular";
  font-size: 2.3em;
  position: absolute;
  bottom: 12px;
  right: 30px;
}
.heading .top-navigation li {
  float: left;
  padding: 0 0 0 55px;
  margin: 0;
}
.heading .top-navigation li a {
  text-decoration: none;
  color: #000000;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.heading .top-navigation li a:hover {
  color: #00cc66;
}
.heading .mobile-navigation-button {
  position: absolute;
  bottom: 12px;
  right: 30px;
  font-size: 2.5em;
  display: none;
  color: #000000;
  outline: none;
}

.hero .green-bar {
  background: url("../images/bg-green-bar.png") top left no-repeat #00cc66;
  width: 100%;
  height: 34px;
  overflow: hidden;
}
.hero .green-bar p {
  padding: 0 30px;
  margin: 0;
  text-align: right;
  color: #ffffff;
  line-height: 34px;
  font-family: "GillSans-Light";
  font-size: 1.2em;
}
.hero .featured-navigation {
  margin: 0;
  padding: 0;
  list-style: none;
  float: left;
  position: absolute;
  top: 60px;
  right: 30px;
  z-index: 2;
}
.hero .featured-navigation li {
  float: left;
  padding-left: 15px;
}
.hero .featured-navigation a {
  display: block;
  border: 1px solid #ffffff;
  background-color: #ffffff;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.hero .featured-navigation a img {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.hero .featured-navigation a:hover img {
  opacity: 0.7;
}
.hero .featured-navigation .active {
  border: 1px solid #00cc66;
}
.hero .featured-large {
  position: relative;
}
.hero .featured-large img {
  width: 100%;
}
.hero .featured-large .feature-image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.hero .featured-description {
  height: 88px;
  width: 845px;
  position: absolute;
  right: 30px;
  bottom: 30px;
  padding-right: 101px;
  background: url("../images/bg-description.png") top right no-repeat;
  font-family: "GillSans-Regular";
  padding-top: 12px;
  z-index: 2;
}
.hero .featured-description h2, .hero .featured-description h3 {
  margin: 0;
  text-align: right;
  line-height: 130%;
  padding: 0 20px 0 190px;
  font-family: "GillSans-Light";
}
.hero .featured-description h3 {
  font-size: 1.4em;
}
.hero .featured-description .detail-link {
  width: 86px;
  height: 88px;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  background: url("../images/bg-arrow.png") 50% 50% no-repeat #00cc66;
  text-indent: -9000px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.hero .featured-description .detail-link:hover {
  background: url("../images/bg-arrow.png") 50% 50% no-repeat #00a351;
}
.hero .search {
  background: url("../images/bg-search-form.png") 0 0 no-repeat;
  width: 310px;
  height: 373px;
  position: absolute;
  top: 34px;
  left: 0;
  z-index: 2;
}
.hero .search * {
  outline: none;
}
.hero .search .row {
  padding-bottom: 15px;
  padding-left: 25px;
  margin: 0;
}
.hero .search label {
  display: none;
}
.hero .search input[type="text"],
.hero .search input[type="email"] {
  border: none;
  background: #ffffff;
  padding: 3px 6px;
  height: 28px;
  box-sizing: border-box;
  width: 160px;
  font-family: "GillSans-Regular";
}
.hero .search button {
  width: 100px;
  height: 54px;
  color: #ffffff;
  font-family: "GillSans-Regular";
  border: none;
  background: url("../images/bg-arrow-fixed.png") center right no-repeat;
  text-align: left;
  line-height: 120%;
  font-size: 1.2em;
  margin-top: 1px;
}
.hero .search .advanced-link {
  margin: 0 0 0 30px;
  padding: 0;
  font-size: 0.8em;
  width: 60px;
}
.hero .search .advanced-link a {
  color: #999999;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
  text-decoration: underline;
}
.hero .search .advanced-link a:hover {
  color: #666666;
  text-decoration: none;
}
.hero .page-image {
  width: 100%;
  height: 247px;
  position: relative;
}
.hero .page-image.review {
  background: url("../images/bg-page-image-review.png") 0 0 no-repeat;
}
.hero .page-image .cta {
  position: absolute;
  bottom: 30px;
  right: 30px;
}
.hero .page-image .cta a {
  display: block;
}
.hero .page-image .cta .text {
  display: inline-block;
  margin-right: 15px;
  background: url("../images/bg-cta-text.png") 0 0 no-repeat;
  width: 236px;
  height: 38px;
  line-height: 38px;
  text-align: right;
  padding-right: 15px;
  font-family: "GillSans-Regular";
  text-transform: uppercase;
  float: right;
  color: #000000;
  font-size: 1.2em;
}
.hero .page-image .cta .icon {
  float: right;
  display: inline-block;
  width: 38px;
  height: 38px;
  background: url("../images/bg-arrow-fixed.png") center center no-repeat #00cc66;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.hero .page-image .cta .icon:hover {
  background: url("../images/bg-arrow-fixed.png") center center no-repeat #00a351;
}

.body {
  padding: 30px 15px;
  box-sizing: border-box;
}
.body .pods {
  padding-bottom: 30px;
  font-family: "GillSans-Light";
}
.body .pods .col {
  float: left;
  width: 33.333337%;
}
.body .pod {
  min-height: 145px;
  margin: 0 15px;
}
.body .pod h3 {
  margin: 0;
  padding: 0;
  height: 54px;
  width: 100%;
  font-size: 1.4em;
  font-family: "GillSans-Light";
  background-image: url("../images/bg-pod-header.png");
  background-position: -54px 50%;
  background-repeat: no-repeat;
}
.body .pod a {
  display: block;
  line-height: 54px;
  padding: 0 40px;
  color: #ffffff;
  background: url("../images/bg-arrow-fixed.png") center right no-repeat;
  margin-right: 20px;
  text-decoration: none;
}
.body .pod .copy {
  background-size: cover;
  background-position: 0 0;
  padding: 20px 60px 20px 30px;
  min-height: 100px;
}
.body .pod.green h3 {
  background-color: #00cc66;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.body .pod.green .copy {
  background-image: url("../images/bg-pod-green.png");
}
.body .pod.green:hover h3 {
  background-color: #00a351;
}
.body .pod.red h3 {
  background-color: #e8555c;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.body .pod.red .copy {
  background-image: url("../images/bg-pod-red.png");
}
.body .pod.red:hover h3 {
  background-color: #b94449;
}
.body .pod.blue h3 {
  background-color: #1da8cb;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.body .pod.blue .copy {
  background-image: url("../images/bg-pod-blue.jpg");
}
.body .pod.blue:hover h3 {
  background-color: #1786a2;
}
.body .pod h4, .body .pod p {
  margin: 0;
  padding: 0 0 5px 0;
  line-height: 105%;
  color: #ffffff;
}
.body .pod h4.shout, .body .pod p.shout {
  font-size: 1.25em;
}
.body .main-copy .col {
  float: left;
  box-sizing: border-box;
  margin-bottom: 30px;
  padding: 0 15px;
}
.body .main-copy .col.col-float-right {
  float: right;
}
.body .main-copy h2 {
  font-family: "GillSans-Regular";
  margin: 0;
  padding: 0 0 10px 0;
  font-size: 1.7em;
}
.body .main-copy p {
  margin: 0;
  padding: 0 0 10px 0;
}
.body .col-3-of-6 {
  width: 50%;
}
.body .col-2-of-3 {
  width: 66.6666667%;
}
.body .col-1-of-3 {
  width: 33.333337%;
}
.body .news-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.body .news-item {
  position: relative;
  min-height: 81px;
  margin-bottom: 20px;
  font-size: 0.9em;
}
.body .news-item:nth-child(1) {
  margin-top: 5px;
}
.body .news-item:nth-last-child(1) {
  margin-bottom: 0;
}
.body .news-item .news-date {
  color: #000000;
}
.body .news-item .news-title {
  margin-left: 5px;
  font-weight: bold;
}
.body .news-item .news-image {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 0;
  display: block;
  border: 1px solid #cccccc;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.body .news-item .news-image img {
  display: block;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.body .news-item .news-image:hover img {
  opacity: 0.7;
}
.body .news-item .news-detail {
  margin-left: 98px;
}
.body .page-title {
  border-bottom: 1px solid #cccccc;
  margin-bottom: 10px;
}
.body .page-title.review h2 {
  float: left;
  width: 200px;
}
.body .page-title.review .review-progress-bar {
  float: right;
  font-family: "GillSans-Light";
  width: 330px;
  margin-top: 6px;
}
.body .page-title.review .review-bar {
  float: right;
  width: 260px;
  height: 5px;
  background-color: #cccccc;
  margin-top: 10px;
  position: relative;
}
.body .page-title.review .progress-label {
  float: left;
  width: 60px;
  font-family: "GillSans-Regular";
}
.body .page-title.review .review-progress {
  position: absolute;
  top: -3px;
  left: 0;
  height: 8px;
  background: #00cc66;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.body .page-title.news {
  padding-bottom: 5px;
}
.body .page-title.news h2 {
  padding-bottom: 0;
}
.body .page-title.news .news-item-date {
  color: #999999;
  font-size: 0.9em;
  font-weight: bold;
  font-family: "GillSans-Regular";
  display: block;
}
.body .page-title.search .search-meta {
  padding-bottom: 10px;
}
.body .page-title.search .search-meta .search-criteria {
  float: left;
  width: 60%;
}
.body .page-title.search .search-meta .search-criteria dl {
  float: left;
  margin: 0;
}
.body .page-title.search .search-meta .search-criteria dl dt {
  clear: left;
  float: left;
  width: 80px;
  padding-bottom: 3px;
}
.body .page-title.search .search-meta .search-criteria dl dd {
  float: left;
  color: #1da8cb;
}
.body .page-title.search .search-meta .search-order {
  float: right;
  width: 40%;
  margin-top: -20px;
}
.body .page-title.search .search-meta .search-order p {
  padding: 0 0 2px 0;
  margin: 0;
  text-align: right;
  font-size: 0.9em;
}
.body .page-title.search .search-meta .search-order ul {
  margin: 0;
  padding: 0;
  list-style: none;
  float: right;
}
.body .page-title.search .search-meta .search-order ul li {
  float: left;
}
.body .page-title.search .search-meta .search-order ul li a {
  padding: 10px 15px;
  background-color: #00cc66;
  color: #ffffff;
  font-family: "GillSans-Regular";
  text-decoration: none;
  margin-left: 1px;
  display: block;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.body .page-title.search .search-meta .search-order ul li a:hover {
  background-color: #00a351;
}
.body .page-title.search .search-meta .search-order ul li a.active {
  padding-right: 40px;
}
.body .page-title.search .search-meta .search-order ul li a.active.asc {
  background: url("../images/bg-arrow-up-down-sprite.png") right 13px no-repeat #00cc66;
}
.body .page-title.search .search-meta .search-order ul li a.active.desc {
  background: url("../images/bg-arrow-up-down-sprite.png") right -53px no-repeat #00cc66;
}
.body .page-title.search .search-meta .search-order ul li a.active:hover.asc {
  background: url("../images/bg-arrow-up-down-sprite-hover.png") right 13px no-repeat #00a351;
}
.body .page-title.search .search-meta .search-order ul li a.active:hover.desc {
  background: url("../images/bg-arrow-up-down-sprite-hover.png") right -53px no-repeat #00a351;
}
.body .page-title.venue {
  position: relative;
  min-height: 60px;
  border-bottom: none;
}
.body .page-title.venue h2 {
  padding-bottom: 5px;
}
.body .page-title.venue .ratings-meta {
  position: absolute;
  top: 0;
  right: 0;
  width: 130px;
  min-height: 55px;
}
.body .step {
  margin-bottom: 10px;
}
.body .step-navigation a {
  display: inline-block;
  color: #ffffff;
  font-family: "GillSans-Regular";
  width: 110px;
  line-height: 22px;
  text-decoration: none;
  padding: 2px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.body .step-navigation a.prev {
  background: url("../images/bg-arrow-step-prev.png") center left no-repeat #00cc66;
  float: left;
  text-align: right;
  padding-right: 9px;
}
.body .step-navigation a.next {
  background: url("../images/bg-arrow-step-next.png") center right no-repeat #00cc66;
  float: right;
  padding-left: 9px;
}
.body .step-navigation a:hover.prev {
  background: url("../images/bg-arrow-step-prev.png") center left no-repeat #00a351;
}
.body .step-navigation a:hover.next {
  background: url("../images/bg-arrow-step-next.png") center right no-repeat #00a351;
}
.body .step-navigation a.disabled {
  background: #eaeaea;
  color: #999;
  cursor: default;
}
.body .step-navigation a.disabled:hover {
  background: #eaeaea;
  color: #999;
}
.body .step-navigation .current-step-title {
  line-height: 28px;
  padding-left: 30px;
  font-family: "GillSans-Regular";
  font-size: 1.2em;
  float: left;
}
.body .form-step {
  clear: both;
  padding: 20px 0;
}
.body .form-step .row {
  content: "";
  clear: both;
  display: block;
  padding-bottom: 15px;
  margin: 0;
}
.body .form-step .row:nth-last-child(1) {
  padding-bottom: 0;
}
.body .form-step label {
  width: 50%;
  padding: 0 30px 0 0;
  line-height: 28px;
  float: left;
  text-align: right;
  margin: 0;
  font-size: 0.9em;
  font-weight: normal;
}
.body .form-step input[type="text"],
.body .form-step input[type="email"] {
  width: 50%;
  float: right;
  padding: 2px 4px;
  outline: none;
  margin: 0;
  border: 1px solid #cccccc;
  -webkit-appearance: none;
  border-radius: 0;
}
.body .form-step select {
  width: 50%;
  float: right;
  padding: 2px 30px 2px 4px;
  border: 1px solid #cccccc;
  -webkit-appearance: none;
  border-radius: 0;
  outline: none;
  background: url("../images/bg-select-box.png") center right no-repeat;
}
.body .form-step textarea {
  padding: 2px 4px;
  width: 50%;
  outline: none;
  resize: none;
  border: 1px solid #cccccc;
  -webkit-appearance: none;
  border-radius: 0;
}
.body .form-step .like-input {
  width: 50%;
  float: right;
}
.body .form-step .like-input.radio {
  margin: 0;
  min-height: 20px;
}
.body .form-step .like-input.radio label {
  padding: 0 25px 0 0;
  width: auto;
  float: left;
  line-height: 110%;
  min-height: auto;
}
.body .form-step .like-input.radio input[type="radio"] {
  cursor: pointer;
  margin: 0 10px 0 0;
  float: left;
  position: static;
}
.body .form-step .like-input.checkbox {
  margin: 0;
  position: relative;
}
.body .form-step .like-input.checkbox label {
  width: auto;
  text-align: left;
  line-height: 120%;
  padding: 0 0 0 24px;
}
.body .form-step .like-input.checkbox input[type="checkbox"] {
  position: absolute;
  top: 2px;
  left: 0;
  cursor: pointer;
  margin: 0;
}
.body .form-step .submit {
  background: url("../images/bg-arrow-step-next.png") center right no-repeat #00cc66;
  color: #ffffff;
  border: none;
  font-family: "GillSans-Regular";
  padding: 4px 35px 4px 12px;
  outline: none;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.body .form-step .submit:hover {
  background: url("../images/bg-arrow-step-next.png") center right no-repeat #00a351;
}
.body .highlighted {
  position: relative;
}
.body .highlighted a {
  display: block;
}
.body .highlighted a img {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.body .highlighted a:hover img {
  opacity: 0.7;
}
.body .highlighted img {
  width: 100%;
  display: block;
  border: 1px solid #cccccc;
}
.body .highlighted .title {
  background: #ffffff;
  color: #444444;
  font-family: "GillSans-Regular";
  position: absolute;
  top: 20px;
  right: 0;
  padding: 5px 15px 5px 10px;
}
.body .news-item-images {
  content: "";
  clear: both;
  display: block;
  padding-bottom: 30px;
}
.body .news-item-images .news-item-main {
  float: left;
  width: 50%;
  box-sizing: border-box;
  padding-right: 15px;
}
.body .news-item-images .news-item-main img {
  width: 100%;
  border: 1px solid #cccccc;
}
.body .news-item-images .news-item-thumbnails {
  float: left;
  width: 50%;
  box-sizing: border-box;
  padding-left: 10px;
}
.body .news-item-images .news-item-thumbnails ul {
  margin: 0;
  padding: 0;
  list-style: none;
  float: left;
  width: 100%;
}
.body .news-item-images .news-item-thumbnails ul li {
  float: left;
  padding: 0 5px;
  width: 25%;
  box-sizing: border-box;
}
.body .news-item-images .news-item-thumbnails ul li a {
  display: block;
  border: 1px solid #cccccc;
}
.body .news-item-images .news-item-thumbnails ul li a img {
  width: 100%;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.body .news-item-images .news-item-thumbnails ul li a:hover img {
  opacity: 0.7;
}
.body .search-results .results-list {
  margin: 0;
  padding: 0;
  list-style: none;
  padding-top: 5px;
}
.body .search-results .results-list li {
  padding-bottom: 20px;
  border-bottom: 1px solid #cccccc;
  margin-bottom: 20px;
}
.body .search-results .results-list li:nth-last-child(1) {
  padding-bottom: 0;
  border-bottom: 0;
  margin-bottom: 0;
}
.body .search-results .results-list li .venue-meta {
  float: left;
  width: 50%;
  padding-right: 15px;
}
.body .search-results .results-list li .venue-meta .venue-title {
  color: #1da8cb;
  font-family: "GillSans-Regular";
  font-size: 1.3em;
  margin: 0;
  padding: 0 0 10px 0;
}
.body .search-results .results-list li .venue-meta .details {
  position: relative;
  min-height: 95px;
}
.body .search-results .results-list li .venue-meta .details img {
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid #cccccc;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.body .search-results .results-list li .venue-meta .details img:hover {
  opacity: 0.7;
}
.body .search-results .results-list li .venue-meta .details .copy {
  padding-left: 95px;
  font-size: 0.9em;
}
.body .search-results .results-list li .search-meta {
  float: right;
  width: 50%;
  padding-left: 15px;
}
.body .search-results .results-list li .search-meta .venue-capacity {
  clear: right;
  float: right;
}
.body .search-results .results-list li .search-meta .see-more {
  background: url("../images/bg-arrow-step-next.png") center right no-repeat #00cc66;
  clear: right;
  float: right;
  color: #ffffff;
  display: inline-block;
  font-family: "GillSans-Regular";
  width: 110px;
  line-height: 22px;
  text-decoration: none;
  padding: 2px 2px 2px 9px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.body .search-results .results-list li .search-meta .see-more:hover {
  background: url("../images/bg-arrow-step-next.png") center right no-repeat #00a351;
}
.body .search-results .results-list li .search-meta .stars-score {
  float: right;
}
.body .venue-capacity dl {
  float: right;
  width: 230px;
  margin-bottom: 10px;
}
.body .venue-capacity dl dt {
  text-align: right;
  float: left;
  width: 180px;
}
.body .venue-capacity dl dd {
  text-align: right;
  width: 50px;
  float: left;
}
.body .reviews {
  display: block;
  color: #1da8cb;
  font-size: 0.9em;
  clear: right;
  float: right;
  text-decoration: none;
  background: url("../images/bg-blue-arrow-sprite.png") right -87px no-repeat;
  padding-right: 12px;
}
.body .stars-score {
  background: url("../images/stars-empty.png") 0 0 no-repeat white;
  width: 130px;
  height: 26px;
  position: relative;
  outline: none;
  cursor: pointer;
  margin-bottom: 7px;
}
.body .stars-score .score {
  position: absolute;
  width: 130px;
  height: 26px;
  background: url("../images/stars-full.png") 0 0 no-repeat;
}
.body .stars-score .score.score-0 {
  width: 0;
}
.body .stars-score .score.score-1 {
  width: 26px;
}
.body .stars-score .score.score-2 {
  width: 52px;
}
.body .stars-score .score.score-3 {
  width: 78px;
}
.body .stars-score .score.score-4 {
  width: 104px;
}
.body .stars-score .score.score-5 {
  width: 130px;
}
.body .stars-score .full-score {
  position: absolute;
  top: 26px;
  right: 0;
  background: #ffffff;
  border: 1px solid #eaeaea;
  -webkit-box-shadow: 1px 1px 5px 0px rgba(50, 50, 50, 0.25);
  -moz-box-shadow: 1px 1px 5px 0px rgba(50, 50, 50, 0.25);
  box-shadow: 1px 1px 5px 0px rgba(50, 50, 50, 0.25);
  z-index: 2;
  cursor: text;
  display: none;
  padding: 15px 30px;
  box-sizing: border-box;
}
.body .stars-score .full-score table {
  width: 120px;
  font-size: 0.9em;
  line-height: 100%;
}
.body .stars-score .full-score table .score-type {
  background: url("../images/bg-single-tick.png") center right no-repeat;
  padding-right: 15px;
}
.body .stars-score .full-score table .score-bar {
  width: 100%;
}
.body .stars-score .full-score table .score-bar span {
  background: #00cc66;
  display: block;
  margin: 2px 10px;
}
.body .stars-score .full-score table .score-value {
  padding-left: 15px;
  text-align: right;
}
.body .stars-score:hover .full-score {
  display: block;
}
.body .venue-information {
  min-height: 170px;
}
.body .venue-information .venue-image-large {
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid #cccccc;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.body .venue-information .venue-image-large:hover {
  opacity: 0.7;
}
.body .venue-information .copy {
  margin: 0 230px 0 150px;
  min-height: 140px;
}
.body .venue-information .copy dl {
  margin-bottom: 0;
}
.body .venue-information .venue-details {
  position: relative;
  min-height: 145px;
}
.body .venue-information .venue-capacity {
  position: absolute;
  top: 0;
  right: 0;
}
.body .venue-information .link {
  display: block;
  text-decoration: none;
}
.body .venue-information .link.website {
  margin-bottom: 10px;
  color: #1da8cb;
}
.body .venue-information .link.email {
  margin-top: 10px;
  color: #1da8cb;
}
.body .venue-information .link.phone {
  color: #000000;
  cursor: text;
}
.body .venue-information .venue-image-thumbnails {
  padding-bottom: 15px;
  clear: both;
}
.body .venue-information .venue-image-thumbnails ul {
  margin: 0;
  padding: 0;
  list-style: none;
  float: left;
}
.body .venue-information .venue-image-thumbnails ul li {
  float: left;
  padding: 0 10px 10px 0;
}
.body .venue-information .venue-image-thumbnails ul li a {
  border: 1px solid #cccccc;
  display: block;
}
.body .venue-information .venue-image-thumbnails ul li a img {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.body .venue-information .venue-image-thumbnails ul li a:hover img {
  opacity: 0.7;
  filter: alpha(opacity=70);
  /* For IE8 and earlier */
}
.body .venue-information .venue-image-thumbnails .more-or-less {
  width: 69px;
  height: 68px;
  color: #1da8cb;
  font-weight: bold;
  font-family: "GillSans-Regular";
  text-align: center;
  line-height: 65px;
  font-size: 1.6em;
  border-radius: 2px;
  text-decoration: none;
  background: #ffffff;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.body .venue-information .venue-image-thumbnails .more-or-less:hover {
  background: #f8f8f8;
}
.body .venue-information .venue-reviews > h2 {
  border-bottom: 1px solid #cccccc;
}
.body .venue-information .venue-reviews .reviews-table {
  width: 100%;
  border-bottom: 1px solid #cccccc;
}
.body .venue-information .venue-reviews .reviews-table .main-header th {
  font-family: "GillSans-Regular";
  font-weight: normal;
  vertical-align: top;
  font-size: 1.0em;
  box-sizing: border-box;
  padding: 4px 25px 4px 0;
  white-space: nowrap;
  color: #1da8cb;
}
.body .venue-information .venue-reviews .reviews-table .main-header th .sort {
  display: inline-block;
  text-indent: -9000px;
  width: 10px;
}
.body .venue-information .venue-reviews .reviews-table .main-header th .sort.asc {
  background: url("../images/bg-blue-arrow-sprite.png") right 8px no-repeat;
}
.body .venue-information .venue-reviews .reviews-table .main-header th .sort.desc {
  background: url("../images/bg-blue-arrow-sprite.png") right -85px no-repeat;
}
.body .venue-information .venue-reviews .reviews-table .main-header th.special-col {
  width: 100%;
}
.body .venue-information .venue-reviews .reviews-table .main-header th.special-col .sort {
  position: static;
}
.body .venue-information .venue-reviews .reviews-table .main-header th:nth-last-child(1) {
  padding-right: 0;
  text-align: right;
}
.body .venue-information .venue-reviews .reviews-table td {
  vertical-align: top;
  font-size: 0.9em;
  box-sizing: border-box;
  padding: 6px 6px 6px 0;
  border-top: 1px solid #eaeaea;
}
.body .venue-information .venue-reviews .reviews-table td.digit {
  font-size: 1.3em;
  font-weight: bold;
}
.body .venue-information .venue-reviews .reviews-table td.digit .star-rating {
  width: 16px;
  height: 16px;
  display: inline-block;
  background: url("../images/stars-full.png") 0 0 no-repeat;
  background-size: cover;
}
.body .venue-information .venue-reviews .reviews-table td h3 {
  font-size: 1.1em;
  margin: 0 0 4px 0;
  padding: 0 6px 6px 100px;
  border-bottom: 1px solid #eaeaea;
}
.body .venue-information .venue-reviews .reviews-table td:nth-last-child(1) {
  padding-right: 0;
}
.body .venue-information .venue-reviews .reviews-table td[colspan] {
  padding: 0;
  border: none;
}
.body .venue-information .venue-reviews .reviews-table td[colspan] .full-detail {
  overflow: hidden;
  max-height: 0;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.body .venue-information .venue-reviews .reviews-table td[colspan] .full-detail.dropped-down {
  max-height: 700px;
}
.body .venue-information .venue-reviews .reviews-table .snap-shot {
  padding-top: 10px;
  border-top: 1px solid #eaeaea;
}
.body .venue-information .venue-reviews .reviews-table span.attendee {
  color: #999;
}
.body .venue-information .venue-reviews .reviews-table span.planner {
  color: #cc6600;
}
.body .venue-information .venue-reviews .reviews-table .show-hide-full-details {
  display: block;
  color: #ffffff;
  padding: 5px 8px;
  text-decoration: none;
  font-family: "GillSans-Regular";
  width: 100px;
  background: url("../images/bg-arrow-up-down-sprite.png") right -60px no-repeat #00cc66;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.body .venue-information .venue-reviews .reviews-table .show-hide-full-details .show-details {
  display: inline-block;
}
.body .venue-information .venue-reviews .reviews-table .show-hide-full-details .hide-details {
  display: none;
}
.body .venue-information .venue-reviews .reviews-table .show-hide-full-details.shown {
  background: url("../images/bg-arrow-up-down-sprite.png") right 6px no-repeat #00cc66;
}
.body .venue-information .venue-reviews .reviews-table .show-hide-full-details.shown .show-details {
  display: none;
}
.body .venue-information .venue-reviews .reviews-table .show-hide-full-details.shown .hide-details {
  display: inline-block;
}
.body .venue-information .venue-reviews .reviews-table .show-hide-full-details:hover {
  background: url("../images/bg-arrow-up-down-sprite-hover.png") right -60px no-repeat #00a351;
}
.body .venue-information .venue-reviews .reviews-table .show-hide-full-details:hover.shown {
  background: url("../images/bg-arrow-up-down-sprite-hover.png") right 6px no-repeat #00a351;
}
.body .venue-information .venue-reviews .reviews-table .criteria th {
  padding: 4px 15px 4px 100px;
  border-bottom: 1px solid #eaeaea;
  color: #1da8cb;
  font-size: 1.2em;
  font-weight: normal;
  width: 100%;
}
.body .venue-information .venue-reviews .reviews-table .criteria th span {
  color: #444444;
  font-size: 0.9em;
}
.body .venue-information .venue-reviews .reviews-table .criteria td {
  border-top: none;
  vertical-align: middle;
  padding: 0;
  border-bottom: 1px solid #eaeaea;
}
.body .venue-information .venue-reviews .reviews-table .criteria tr:nth-last-child(1) th, .body .venue-information .venue-reviews .reviews-table .criteria tr:nth-last-child(1) td {
  border: none;
}
.body .venue-information .venue-reviews .reviews-table .criteria .criteria th {
  color: #444444;
  text-align: right;
  font-size: 1.1em;
  border-bottom: none;
}
.body .venue-information .venue-reviews .reviews-table .criteria .criteria td {
  border-bottom: none;
  vertical-align: middle;
  padding: 0;
}
.body .venue-information .venue-reviews .reviews-table .criteria .scores {
  position: relative;
  display: inline-block;
  float: right;
  height: 10px;
  width: 120px;
  background: #cccccc;
}
.body .venue-information .venue-reviews .reviews-table .criteria .scores .overall-score {
  position: absolute;
  height: 10px;
  width: 120px;
  background: #00cc66;
}
.body #review-form {
  width: 100%;
  overflow: hidden;
}
.body .form-steps {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-left: 0;
}
.body .form-steps li {
  width: 100%;
  float: left;
}
.body .form-steps.animated {
  -webkit-transition: all 0.75s;
  -moz-transition: all 0.75s;
  -o-transition: all 0.75s;
  transition: all 0.75s;
}

.footer {
  width: 1040px;
  padding: 20px 0 15px 0;
  background: url("../images/bg-footer.png") center bottom no-repeat;
}
.footer .footer-navigation {
  margin: 0;
  padding: 0;
  list-style: none;
  float: right;
  font-family: "GillSans-Light";
  font-size: 1.3em;
}
.footer .footer-navigation li {
  float: left;
  padding-left: 20px;
}
.footer .footer-navigation a {
  color: #cccccc;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
}
.footer .footer-navigation a:hover {
  color: #00cc66;
  text-decoration: none;
}

@media only screen and (max-width: 1120px) {
  .heading,
  .body,
  .hero,
  .footer {
    width: 100%;
  }
}
@media only screen and (max-width: 960px) {
  .heading {
    background: #ffffff;
  }
  .heading .top-navigation {
    display: none;
  }
  .heading .mobile-navigation-button {
    display: block;
  }

  .hero .featured-navigation a {
    border-width: 15px;
  }
  .hero .featured-navigation a.active {
    border-width: 15px;
  }
  .hero .featured-navigation a img {
    display: none;
  }
  .hero .green-bar {
    background: #00cc66;
  }
  .hero .green-bar p {
    text-align: left;
  }
  .hero .search {
    display: none;
  }
  .hero .featured-description {
    width: 100%;
    position: static;
    padding-right: 120px;
    background: none;
    padding-top: 9px;
    border-bottom: 1px solid #eaeaea;
  }
  .hero .featured-description h3, .hero .featured-description h2 {
    text-align: left;
    line-height: 130%;
    padding: 0 30px 0 30px;
  }
  .hero .featured-description .detail-link {
    position: absolute;
    bottom: 0;
    right: 30px;
    top: auto;
  }

  .body .pod {
    min-height: 54px;
    height: 54px;
    overflow: hidden;
  }
  .body .pod h3 {
    background: none;
  }
  .body .pod a {
    padding: 0 20px;
  }
  .body .pod .copy {
    display: none;
  }
  .body .col-2-of-3 {
    width: 100%;
  }
  .body .col-1-of-3 {
    width: 100%;
  }
  .body .col-1-of-3.col-hide {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  .heading {
    background: #ffffff;
  }
  .heading .logo a {
    width: 160px;
    height: 61px;
    background-size: cover;
  }

  .hero .green-bar,
  .hero .search {
    display: none;
  }
  .hero .featured-navigation {
    top: 15px;
  }
  .hero .featured-description {
    height: auto;
    min-height: 54px;
    background: none;
    padding: 15px 90px 15px 0;
  }
  .hero .featured-description h2 {
    display: none;
  }
  .hero .featured-description h3 {
    line-height: 120%;
    font-size: 1.2em;
    color: #000000;
  }
  .hero .featured-description .detail-link {
    height: 54px;
    background: url("../images/bg-arrow-fixed.png") 50% 50% no-repeat #00cc66;
    width: 52px;
  }
  .hero .page-image .cta .text {
    margin-right: 0;
  }
  .hero .page-image .cta .icon {
    display: none;
  }

  .body .pods .col {
    width: 100%;
    border-bottom: 1px solid #ffffff;
  }
  .body .main-copy > div {
    width: 100%;
  }
  .body .page-title.review h2 {
    float: none;
    width: auto;
    padding-bottom: 5px;
  }
  .body .page-title.review .review-progress-bar {
    float: none;
    margin-top: 0;
    padding-bottom: 15px;
    width: 100%;
  }
  .body .page-title.review .progress-label,
  .body .page-title.review .review-bar {
    float: none;
    padding: 0;
    width: 100%;
  }
  .body .page-title.search .search-meta .search-criteria {
    float: none;
    width: 100%;
  }
  .body .page-title.search .search-meta .search-criteria dl {
    float: none;
    margin: 0;
  }
  .body .page-title.search .search-meta .search-criteria dl dt {
    float: none;
    width: auto;
    padding-bottom: 3px;
  }
  .body .page-title.search .search-meta .search-criteria dl dd {
    float: none;
    color: #1da8cb;
  }
  .body .page-title.search .search-meta .search-order {
    clear: left;
    float: none;
    width: 100%;
    margin-top: 0;
  }
  .body .page-title.venue {
    position: relative;
    min-height: 60px;
    border-bottom: none;
  }
  .body .page-title.venue .ratings-meta {
    position: static;
  }
  .body .page-title.venue .ratings-meta .reviews {
    float: left;
  }
  .body .step {
    border-bottom: none;
    margin-bottom: 0;
  }
  .body .step-navigation .current-step-title {
    clear: both;
    line-height: 110%;
    padding: 15px 0 0 0;
    width: 100%;
  }
  .body .form-step {
    clear: both;
    padding: 10px 0 0 0;
  }
  .body .form-step label {
    width: 100%;
    padding: 0;
    float: none;
    text-align: left;
  }
  .body .form-step input[type="text"],
  .body .form-step input[type="email"] {
    width: 100%;
    float: none;
    padding: 4px 6px;
  }
  .body .form-step select,
  .body .form-step textarea {
    width: 100%;
    float: none;
  }
  .body .form-step .like-input {
    width: 100%;
    float: none;
  }
  .body .news-item-images {
    padding-bottom: 20px;
  }
  .body .news-item-images .news-item-main {
    float: left;
    width: 100%;
    box-sizing: border-box;
    padding-right: 0;
    padding-bottom: 15px;
  }
  .body .news-item-images .news-item-thumbnails {
    float: left;
    width: 100%;
    box-sizing: border-box;
    padding-left: 0;
  }
  .body .search-results .results-list li .venue-meta {
    float: none;
    width: 100%;
    padding-right: 0;
  }
  .body .search-results .results-list li .search-meta {
    float: none;
    width: 100%;
    padding-left: 0;
  }
  .body .search-results .results-list li .search-meta .reviews {
    clear: left;
    float: left;
  }
  .body .search-results .results-list li .search-meta .venue-capacity {
    clear: left;
    float: left;
  }
  .body .search-results .results-list li .search-meta .see-more {
    clear: left;
    float: left;
  }
  .body .search-results .results-list li .search-meta .stars-score {
    float: none;
    margin-bottom: 10px;
  }
  .body .venue-capacity dl {
    float: left;
  }
  .body .venue-capacity dl dt {
    text-align: left;
  }
  .body .venue-information .venue-image-large {
    position: static;
    width: 100%;
  }
  .body .venue-information .copy {
    margin: 10px 0 5px 0;
    min-height: auto;
  }
  .body .venue-information .copy dl dt {
    float: left;
    padding-right: 10px;
  }
  .body .venue-information .venue-capacity {
    position: static;
  }
  .body .venue-information .link {
    display: block;
    text-decoration: none;
  }
  .body .venue-information .link.website {
    margin-bottom: 0;
  }
  .body .venue-information .link.email {
    margin-top: 0;
  }
  .body .venue-information .venue-image-thumbnails ul {
    margin: 0;
    padding: 0;
    list-style: none;
    float: left;
  }
  .body .venue-information .venue-reviews > h2 {
    border-bottom: none;
  }
  .body .venue-information .venue-reviews .reviews-table {
    border-bottom: none;
  }
  .body .venue-information .venue-reviews .reviews-table .main-header th {
    display: none;
  }
  .body .venue-information .venue-reviews .reviews-table td {
    display: block;
  }
  .body .venue-information .venue-reviews .reviews-table td h3 {
    padding-left: 0;
  }
  .body .venue-information .venue-reviews .reviews-table td:nth-last-child(1) {
    padding-right: 0;
  }
  .body .venue-information .venue-reviews .reviews-table td[colspan] {
    padding: 0;
    border: none;
  }
  .body .venue-information .venue-reviews .reviews-table .criteria th {
    padding: 4px 0;
    display: block;
  }
  .body .venue-information .venue-reviews .reviews-table .criteria th span {
    display: block;
  }
  .body .venue-information .venue-reviews .reviews-table .criteria tr:nth-last-child(1) th, .body .venue-information .venue-reviews .reviews-table .criteria tr:nth-last-child(1) td {
    border: none;
  }
  .body .venue-information .venue-reviews .reviews-table .criteria .criteria th {
    text-align: left;
  }
  .body .venue-information .venue-reviews .reviews-table .criteria .criteria td {
    border-bottom: none;
    vertical-align: middle;
    padding: 0;
  }
  .body .venue-information .venue-reviews .reviews-table .criteria .scores {
    float: none;
    margin: 0 0 10px 0;
    width: 100%;
  }
  .body .venue-information .venue-reviews .reviews-table .criteria .scores .overall-score {
    width: 100%;
  }

  .foot .footer-navigation {
    text-align: center;
    float: none;
    font-size: 1.1em;
  }
  .foot .footer-navigation li {
    display: inline;
    padding: 0 10px;
    float: none;
  }
  .foot .footer-navigation li a {
    display: inline-block;
  }
}
#results-container {
  position: absolute;
  top: 27px;
  left: 30px;
  width: 220px;
  z-index: 10;
}
#results-container h4 {
  margin: 0;
  padding: 4px 6px;
  font-size: 0.9em;
  color: #ffffff;
  background: #444444;
  font-weight: normal;
}
#results-container ul {
  margin: 0;
  padding: 0;
  list-style: none;
  color: #444444;
  border: 1px solid #eaeaea;
  -webkit-box-shadow: 1px 1px 5px 0px rgba(50, 50, 50, 0.25);
  -moz-box-shadow: 1px 1px 5px 0px rgba(50, 50, 50, 0.25);
  box-shadow: 1px 1px 5px 0px rgba(50, 50, 50, 0.25);
}
#results-container ul li {
  border-bottom: 1px solid #eaeaea;
}
#results-container ul li a {
  font-size: 0.80em;
  color: #444444;
  background: #ffffff;
  text-decoration: none;
  padding: 4px 6px;
  display: block;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
#results-container ul li a:hover {
  color: #000000;
  background: #eaeaea;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
#results-container ul li:nth-last-child(1) {
  border-bottom: none;
}

#menu a, #menu span {
  font-family: "GillSans-Regular" !important;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.1em;
  color: #ffffff;
}
#menu .mm-navbar {
  text-align: right;
  padding: 0 20px;
}
#menu .mm-navbar a {
  font-family: "GillSans-Light" !important;
  color: #cccccc;
}
#menu .mobile-search-form {
  padding: 20px;
}
#menu .mobile-search-form input {
  border-radius: 0;
  border: none;
  font-family: "GillSans-Regular" !important;
  font-size: 1.3em;
  padding: 6px 8px;
  margin-bottom: 10px;
  width: 100%;
  outline: none;
  color: #000000;
}
#menu .mobile-search-form button {
  width: 100%;
  background-color: #00cc66;
  padding: 6px 8px;
  text-transform: uppercase;
  border: none;
  font-family: "GillSans-Regular" !important;
  margin-bottom: 10px;
  outline: none;
}
#menu .mobile-search-form .advanced-search-button {
  font-family: "GillSans-Regular" !important;
  font-size: 0.85em;
  display: block;
  text-align: right;
  color: #00cc66;
}
